html{
    font: 12px '宋体';
}
a{
    color:#000;
}
/*顶部样式  start*/
.top {
    background-color: #F7F7F7;
    height: 26px;
    border-bottom: 1px solid #D8D8D8;
}
.top_page {
    width: 970px;
    height: 26px;
    margin: 0 auto;
}
.top_page_l {
    line-height:26px;
}
.top_page_r ul li {
    float: right;
    padding-right: 10px;
    line-height:26px;
}
.top_page_r ul li a:hover {
    color:red;
}
.top_page_r ul li s {
    width:14px;
    height:12px;
    background:url(../image/sprite.png);
    display:inline-block;
    vertical-align: middle;    /*将小图标设置居中*/
}
/*顶部样式  end*/
/*===================================================*/
/*logo部分样式  start*/
.logo {
    width:970px;
    height:98px;
    margin:0 auto;
}
.logo_l {
    width:200px;
    height:55px;
    margin:24px 0 19px 9px;
    background:url(../image/sprite.png) -20px 0;
    
    /*重点 使得图片底部得文字往屏幕左边走1000个单位 
    这样做的好处：将来网络爬虫在抓取网页的时候，一旦看到h1标签里面有梅兰商城，就会把文字的权重设置的非常高，将来
    在搜索的时候，就会在搜索引擎把这个网页放到第一页*/
    text-indent:-1000em;            
}
.logo_r {
    width: 530px;
    height: 42px;
    margin: 29px 0px 27px 0px;
    border: 1px solid #ccc;
}
.logo_r_content{
    margin:5px 5px 5px 4px;

}
.logo_r_search{
    width: 418px;
    height: 28px;
    border: 1px solid #c9c9c9;
    color: #999999;
}
.logo_r_btn{
    width: 99px;
    height: 30px;
    color:white;
    background-color:#2F70D0;
}
/*logo部分样式  end*/
/*==================================================*/
/*导航部分   start*/
.nav{
    width: 970px;
    margin: 0 auto;
    height: 25px;
    border-bottom: 2px solid #0266A3;
}
.nav li{
    float: left;
    
}
.nav li a {
    padding: 0px 15px 0 15px;
    line-height: 25px;
    font-size: 14px;
    font-weight:bold;
    color: #0266A3;
}
.nav li:hover {
    background-color: #0266A3;
}
.nav li:hover a {
    color: white;
}
/*导航部分   end*/
/*================================================*/
/*banner部分  start*/
.banner {
    width: 970px;
    margin: 0 auto;
    height: 210px;
    margin-top: 10px;
}
.subNav {
    width: 200px;
    height: 210px;
}
.ad {
    width: 520px;
    height: 210px;
    margin-left: 10px;
    background-color: lightgray;
    font-size: 30px;
    text-align: left;
    
}
.message {
    width: 230px;
    height: 210px;
}
.subNav h2 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #2066A3;
    color: white;
    padding-left: 20px;
}
.subNav ul {
    background-color: #EBF0F6;
}
.subNav ul li {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin-left: 9px;
}   
.subNav li a:hover {
    color: red;
}
.subNav li s{
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url("../image/sprite.png") -225px 0;
    vertical-align: middle;
}
.subNav li a {
    padding-left: 15px;
}
.message_top {
    height: 95px;
    border: 1px solid #DDD;
    margin-bottom: 21px;
    background-color: #F7FAFF;
}
.message_top .fw {
    font-weight: bold;
    margin: 7px 0 0 18px;
}
.message_top s {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../image/sprite.png) -250px 0;
    margin: 20px 10px 0 10px;
}
.message_top p a:hover {
    color: red;
}
.message_top .cheap {
    margin-top: 25px;
}
.message_bottom {
    height: 92px;
    background-color: #f7f7f7;
}
.message_bottom .findMessage {
    font-size: 14px;
    text-align: center;
    padding-top: 11px;
}
.message_bottom .phone s {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url(../image/sprite.png) -225px -30px;
    vertical-align: middle; /*让小图标居中显示*/
}
.message_bottom .phone {
    text-align: center;
    margin-top: 10px;
    color: #3f9ce0;
}
.message_bottom .btn {
    width: 81px;
    height: 23px;
    background: url("../image/sprite.png") -295px 0px;
    margin-top: 9px;
    margin-left: 75px;
}
/*banner部分  end*/
/*======================================================*/
/*建筑材料部分   start*/
.material {
    width: 950px;
    height: 34px;
    margin: 0 auto;
    background-color: #ecf1f7;
    border-top: 2px solid #c3d4e7;
    margin-top: 14px;
    line-height: 34px;
    font-weight: bold;
    padding-left: 20px;
}
/*建筑材料部分   end*/
/*======================================================*/
/*具体信息     start*/
.product {
    width: 970px;
    height: 345px;
    margin:0 auto;
    margin-top: 10px;
}
.product_l {
    width: 730px;
    height: 345px;
    border: 1px solid #d8d8d8;
}
.product .product_l_top {
    width: 704px;
    height: 155px;
    padding: 17px 0 0 26px;
}
.product .p_l_t_product1 {
    width: 350px;
    height: 146px;
}
.product .product_pic {
    width: 99px;
    height: 143px;
}
.product_pic .img {
    height: 100px;
    border: 1px solid #cacaca;
}
.product_pic s {
    display: inline-block;
    width: 90px;
    height: 62px;
    background: url("../image/sprite.png") 0 -70px;
    margin: 10px 4px 0 3px;
}
.product_pic .btn {
    width: 99px;
    height: 26px;
    background-color: #0a84e3;
    color: white;
    margin-top: 15px;
}
.product .product_explain {
    width: 250px;
    height: 143px;
}
.product_explain .goodWife{
    font-size: 14px;
    margin:10px 0 0 10px;
}
.product_explain .goodAt {
    color: #863e01;
    margin: 15px 0 0 15px;
}
.product_explain .price span{
    color: red;
    display: inline-block;
    margin: 15px 0 0 10px;
    font-size: 14px;
}
.product_explain .price s{
    text-decoration: line-through;
}
.product_explain .buyed {
    font-size: 14px;
    margin: 24px 0 0 10px;
}
.product_l .product_l_line {
    margin: 0 5px 0 5px;
    border-top: 1px solid #ccc;
}
.product .product_r {
    width: 230px;
    height: 345px;
    border: 1px solid #d8d8d8;
}
.product_r .product_r_top {
    width: 220px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px; 
    font-size: 14px;
    border-bottom: 1px solid #e0e6f0;
}
.product_r .product_r_bottom ul {
    margin-top: 11px;
}
.product_r .product_r_bottom li {
    margin-left: 10px;
    margin-top: 12px;
}
.product_r .product_r_bottom li a:hover {
    color: red;
    text-decoration: underline;
}
/*具体信息     end*/
/*-==================================================*/
/*儿童安全座椅  start*/
.div {
    width: 970px;
    height: 300px;
    background-color: teal;
    margin: 0 auto;
}
/*儿童安全座椅  end*/
/*===================================================*/
/*尾部友情链接  start*/
.friendlyLink {
    width: 970px;
    height: 103px;
    margin: 0 auto;
    margin-top: 11px;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #0266A3;
    color: #666;
}
.friendlyLink .friendlyLink_p1 {
    margin-top: 30px;
}
.friendlyLink .friendlyLink_p2 {
    margin-top: 14px;
    margin-left: 61px;
}
/*尾部友情链接  end*/
/*===================================================*/
/*尾部关于我们  start*/
.aboutMe {
    width: 970px;
    height: 91px;
    margin: 0 auto;
}
.aboutMe p {
    margin-top: 14px;
    text-align: center;
}
/*尾部关于我们  end*/